/* app_frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base adicionales si los necesitas */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7f6; /* Un fondo claro y neutro */
}

/* Ejemplo de un estilo global para contenedores principales con bordes redondeados */
.main-container {
  @apply bg-white p-6 rounded-xl shadow-lg;
}
